#container{
    background: aquamarine;
}
#header{
    max-width: 900px;
    height: auto;
    margin-left: 200px;
   position: center;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 50px;
 
}
#One{
    max-width: 600px;
    background:white;
    height: auto;
   margin-left: 300px;
   position: relative;
   border:2px solid black;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 50px;
   margin-top: 50px;
}
#Two{
    max-width: 600px;
    background:white;
    height: auto;
   margin-left: 300px;
   position: relative;
   border:2px solid black;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 50px;
   margin-top: 50px;

}
  
#Three{
    max-width: 600px;
    background:white;
    height: auto;
   margin-left: 300px;
   position: relative;
   border:2px solid black;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 50px;
   margin-top: 50px;
}
#Four{
    max-width: 600px;
    background:white;
    height: auto;
   margin-left: 300px;
   position: relative;
   border:2px solid black;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 50px;
   margin-top: 50px;
}
#Five{
    max-width: 600px;
    background:white;
    height: auto;
   margin-left: 300px;
   position: relative;
   border:2px solid black;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 50px;
   margin-top: 50px;
}
#Six{
    max-width: 600px;
    background:white;
    height: auto;
   margin-left: 300px;
   position: relative;
   border:2px solid black;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 50px;
   margin-top: 50px;
}
#Seven{ 
    max-width: 600px;
    background:white;
    height: auto;
   margin-left: 300px;
   position: relative;
   border:2px solid black;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 50px;
   margin-top: 50px;
}
#Eight{
    max-width: 600px;
    background:white;
    height: auto;
   margin-left: 300px;
   position: relative;
   border:2px solid black;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 50px;
   margin-top: 50px;
}
#picture{
    max-width: 600px;
    height: 450px;
   margin-left: 300px;
   position: relative;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 50px;
   margin-top: 50px;

}
